page-login {
    // background-image: url('../../assets/imgs/bus3.jpg');
   .formtab{
    margin-top: -30px;
   }

.item .item-input {
    background-color: transparent;
}
.button{
    height: 45px;

}
.btn-wrapper {
    text-align: center;
}
.textcolor{
    color: black;
}
.arabicflage{
    float: right;
    width: 40px;
}
}
