page-reps-location {
    .button{
        height: 45px;
    }
    .btn-wrapper {
        text-align: center;
    }
    .textcolor{
        color: black;
    }
    .arabicflage{
        float: right;
        width: 40px;
    }
    .cintent{  margin-top: 10px; }
    .tempLocation{border-bottom: 1px solid; line-height: 25px; }
    .inavigate  {margin-left: 20px;}

    #map_canvas{
        height: 100%;
        width: 110%;
        margin-left: -5%;
        margin-top: -25px;
  }

}
